{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'app-main-home.js' %}"></script>
</head>
<body>
    <div class="navbar" id="navbar">
        <div class="login" id="login">
            <a href="/login/">Login</a>
        </div>
    </div>
    <div class="container">
        <div class="section-about">

        </div>
        <div class="section-featres">

        </div>
        <div class="section-use">

        </div>
    </div>
    <div class="footer">

    </div>
</body>
</html>