{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
        <div class="login-forms-wrapper">
            <div class="choose-form">
                <div class="form-option form-option-selected" id="student-login-form-btn">Student Login</div>
                <div class="form-option" id="teacher-login-form-btn">Teacher Login</div>
            </div>
            <div class="student-login-form-wrapper form-wrapper" id="student-login-form-wrapper">
                <form id="student-login-form" class="login-form" method="POST" action="/student/login/">
                    {% csrf_token %}
                    <input type="text" placeholder="Enter Username" id="student-login-username" class="form-input" name="student-username">
                    <input type="password" placeholder="Enter Password" id="student-login-password" class="form-input" name="student-password">
                    <div class="class-input-fields">
                        <input type="text" placeholder="Enter Class" id="student-login-class" class="form-input-class" name="student-class">
                        <input type="text" placeholder="Enter Section" id="student-login-section" class="form-input-class" name="student-section">
                    </div>
                    <input type="submit" value="Login" id="submit-student-login" class="form-submit"
                    disabled>
                </form>
            </div>
            <div class="teacher-login-form-wrapper form-wrapper" id="teacher-login-form-wrapper">
                <form id="teacher-login-form" class="login-form" method="POST" action="/teacher/login/">
                    {% csrf_token %}
                    <input type="text" placeholder="Enter Username" id="teacher-login-username" class="form-input" name="teacher-username">
                    <input type="password" placeholder="Enter Password" id="teacher-login-password" class="form-input" name="teacher-password">
                    <input type="submit" value="Login" id="submit-teacher-login" class="form-submit">
                </form>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/app-main-login.js' %}"></script>
</body>
</html>