{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard|Teacher</title>
    <link rel="stylesheet" href="{% static 'css/teacherDashboard.css' %}">
</head>
<body>
    {% include 'loading.html' %}
    <div class="error-message"><span id="error-msg">{{ error }}</span><span id="close-error">X</span></div>
    <div class="container">
        <div class="navbar">
            <div class="page-title">Teacher Dashboard</div>
            <div class="login-info">
                <div class="user-info login-info-btn">{{ username }}</div>
                <a class="logout-btn login-info-btn" href='/logout/'>Logout</a>
            </div>
        </div>
        <div class="taskbar-container">
            <div class="class-list-wrapper">
                <div class="class-list-btn active-class-btn">Class 10</div>
                <div class="class-list-btn">Class 9</div>
                <div class="class-list-btn">Class 8</div>
                <div class="class-list-btn">Class 7</div>
            </div>
            <div class="task-wrapper">
                <div class="new-task-btn" id="show-new-assignment-form-btn">New Task +</div>
            </div>
        </div>
        <div class="work-window">
            <div class="create-task-wrapper">
                <div class="create-assignment-form-container">
                    <div class="return-back-btn" id="hide-new-assignment-form-btn">Back</div>
                    <form id="create-assignment">
                        {% csrf_token %}
                        <div class="title-time-wrapper">
                            <input type="text" name="assignment-title" id="assignment-title-input" required class="assignment-form-input" placeholder="Title" autocomplete="off">
                            <input type="text" name="assignment-time" class="assignment-form-input" id="assignment-time-input" required placeholder="Time" autocomplete="off">
                        </div>
                        <textarea rows="5" cols="40" name="progress" id="assignment-description-input" required class="assignment-form-input" placeholder="Description" autocomplete="off"></textarea>
                        <div class="assignment-file-wrapper">
                            <input type="file" name="files[]" id="assignment-file-input">
                        </div>
                        <input type="submit" class="submit-btn" value="Save" id="assignment-form-submit">
                    </form>
                    <form id="update-assignment">
                        {% csrf_token %}
                        <div class="title-time-wrapper">
                            <input type="text" name="update-assignment-title" id="update-title-input" required class="assignment-form-input" placeholder="Title" autocomplete="off">
                            <input type="text" name="assignment-time" class="assignment-form-input" id="update-time-input" required placeholder="Time" autocomplete="off">
                        </div>
                        <textarea rows="5" cols="40" name="progress" id="update-description-input" required class="assignment-form-input" placeholder="Description" autocomplete="off"></textarea>
                        <div class="assignment-file-wrapper">
                            <input type="file" name="files[]" id="update-file-input">
                        </div>
                        <input type="submit" class="submit-btn" value="Save" id="update-form-submit">
                        <iframe src="" height="500" width="850" id="file-viewer"></iframe>
                    </form>
                </div>
            </div>
            <div class="assignments-container" id="assignment-container">
                
            </div>
            <div class="assignment-window">
                <div class="section-selector">
                    <div id="return-view-assignment">Back</div>
                    <div id="assignment-conduct-title">Maths UOI 1</div>
                    <div class="section-select">
                        <label for="section-list">Section : </label>
                        <select id="section-list">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                            <option value="G">G</option>
                            <option value="H">H</option>
                            <option value="I">I</option>
                            <option value="J">J</option>
                            <option value="K">K</option>
                        </select>
                    </div>
                </div>
                <div class="assignment-class-functions">
                    <div class="assignment-chat assignment-class-function">
                        <div class="chat-container" id="chat-log"></div>
                        <div class="chat-input-container">
                            <input type="text" id="chat-input" placeholder="Message">
                            <button id="submit-chat-message" onclick="submitChatMessage()">SEND</button>
                        </div>
                    </div>
                    <div class="assignment-attendees assignment-class-function">
                        <div id="attendee-log"></div>
                    </div>
                    <div class="assignment-class-function">
                        <div class="warning-container" id="warning-log"></div>
                        <div class="warning-input-container">
                            <input type="text" id="warning-input" placeholder="User">
                            <button id="block-user" onclick="blockUser()">Block</button>
                            <button id="un-block-user" onclick="unBlockUser()">UnBlock</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-database.js"></script> 
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-storage.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var assignment_data;
        const classBtn = document.querySelectorAll('.class-list-btn')

        $("#hide-new-assignment-form-btn").click(function(){
            $('.create-task-wrapper').css({'display':'none'});
            $('.assignments-container').css({'display':'block'});
            $('#create-assignment').css({'display':'none'});
            $('#update-assignment').css({'display':'none'});
        });
        $("#show-new-assignment-form-btn").click(function(){
            $('.create-task-wrapper').css({'display':'block'});
            $('#create-assignment').css({'display':'block'});
            $('#update-assignment').css({'display':'none'});
            $('.assignments-container').css({'display':'none'});
        });

        $('.error-message').css({'display':'{{ error_display }}'});

        $('#close-error').click(function(){
            $('.error-message').fadeOut(500);
        });

        _currentClass = {
            aInternal: 10,
            aListener: function(val) {},
            set a(val) {
                this.aInternal = val;
                this.aListener(val);
            },
            get a() {
                return this.aInternal;
            },
            registerListener: function(listener) {
                this.aListener = listener;
            }
        }
        var currentClass = '10';
        var currentSection = 'A';
        var currentAssignmentTitle = ''

        var assignmentWrap;
        
        _currentClass.registerListener(function(val) {
            _class = val;
            let _date_ = new Date();
            _date_.setTime(_date_.getTime() + (24*60*60*1000));
            document.cookie = "teacherClass="+ _class + "; expires="+_date_;
        });

        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                    console.log(c)
                }
            }
            return "10";
        }

        getLastClass()

        function getLastClass(){
            let lastClass = getCookie('teacherClass')
            currentClass = lastClass
            document.getElementById('assignment-container').innerHTML = '';
            fetchAssignments();

            if(!lastClass){
                lastClass == 10;
            }
            classBtn.forEach(button => { 
                button.classList.remove('active-class-btn');
            });
            classBtn.forEach(button => { 
                if(button.textContent.slice(6) == lastClass){
                    button.classList.add('active-class-btn')
                } 
            });
        }

        function generateAssignments(data){
            parent = document.getElementById('assignment-container')
            parent.innerHTML = ''
            for(let i = 0; i < data.length; i++){
                temp = data[i]
                assignmentWrap = document.createElement('div')
                assignmentWrap.classList.add('assignment-wrapper')
                parent.appendChild(assignmentWrap)
                if(temp['assigned'] == 'false'){
                    assignmentWrap.innerHTML = '<div class="assignment-title"><span>'+ temp['title'] + '</span><span>' + temp['date'] + '</span></div><div class="assignment-functions"><div class="assign-task assignment-function-btn">Assign</div><div class="update-task assignment-function-btn">Update</div><div class="make-results assignment-function-btn">Results</div><div class="noend-task assignment-function-btn">End</div></div>'
                }
                else if(temp['assigned'] == 'true' && temp['ended'] == 'false'){
                    assignmentWrap.innerHTML = '<div class="assignment-title open-view-assignment" onclick="viewAssignment(this)"><span>'+ temp['title'] + '</span><span>' + temp['date'] + '</span></div><div class="assignment-functions"><div class="assigned-task assignment-function-btn">Assigned</div><div class="updated-task assignment-function-btn">Update</div><div class="make-results assignment-function-btn">Results</div><div class="end-task assignment-function-btn">End</div></div>'
                }
                if(temp['ended'] == 'true'){
                    assignmentWrap.innerHTML = '<div class="assignment-title"><span>'+ temp['title'] + '</span><span>' + temp['date'] + '</span></div><div class="assignment-functions"><div class="assigned-task assignment-function-btn" >Assigned</div><div class="updated-task assignment-function-btn">Update</div><div class="view-results assignment-function-btn">Results</div><div class="ended-task assignment-function-btn">Ended</div></div>'
                }
                if(i == data.length-1){
                    reAssignUpdateButton();
                }
            }
        }

        function fetchAssignments(){
            $.ajax({
                type: 'POST',
                url: '/teacher/exam/request/',
                data:{
                    class: currentClass,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(data){
                    let tempData = data.assignment_list;
                    assignment_data = tempData;
                    generateAssignments(tempData);
                },
            });
        }

        fetchAssignments()

        function getClass(e){
            let thisTarget = e.target
            classBtn.forEach(button => { 
                button.classList.remove('active-class-btn');
            });
            thisTarget.classList.add('active-class-btn');
            _currentClass.a = thisTarget.textContent.slice(6);
            currentClass = thisTarget.textContent.slice(6);
            document.getElementById('assignment-container').innerHTML = '';
            fetchAssignments();
        }

        classBtn.forEach(button => { 
            button.addEventListener('click', getClass);
        });
    </script>
    <script src="{% static 'js/create-new-assignment.js' %}"></script>
    <script src="{% static 'js/main-assignment-functions.js' %}"></script>
    <script src="{% static 'js/main-assignment-view.js' %}"></script>
</body>
</html>